.conteudo{
    justify-self: end;
    width: 77%;
    min-height: 100vh;
    background-color: #F4F6FA;
}

.hello{
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px 50px;
}

#titulo_hello{
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

#nome_funcionario{
    color: #1056A8;
}

.informacoes_hello{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

.graficos{
    padding: 0 1.5rem 1.5rem;
}

.kpi-item {
    display: grid;
    grid-template-rows: auto auto 1fr;
    border-radius: 10px ;
    background-color: #1056A8;
    border-radius: 10px;
    padding: 14px 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    min-height: 90px;
    flex: 1;
}

.kpi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.75rem;
    margin-bottom: 1rem;
}


#kpi-title {
    font-size: 1.0rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#kpi_tempo {
    color: grey;
    font-size: 1rem;
}

.kpi-item-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.kpi-item-content p {
    display: flex;
    font-size: 1.9rem;
    flex-wrap: wrap;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.detalhesKPI {
    font-size: 1rem;
}

.kpi-item-content img {
    width: 100px;
    height: 100px;
}

.container_charts {
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;

    gap: 1rem;

    width: 100%;
    
}

.top-left {
    grid-column: 1;
    grid-row: 1;
}

.top-right {
    grid-column: 2;
    grid-row: 1;
}

.bottom {
    grid-column: span 2;
    grid-row: 2;
}

.top-left, .top-right, .bottom {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    height: 50vh;
}