.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 80px;
    background-image: url('../images/background_login.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container_login{
    border: 2px solid #1056A8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    width: 45%;
    gap: 10px;
}

#titulo{
    font-size: 36px;
    font-weight: bold;
}

.divisor{
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container_input{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.titulo_input{
    color: #6B7280;
    font-size: 16px;

}

.input{
    margin-top: 5px;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 8px 5px;
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: space-between;
}

.input input{
    border: none;
    outline: none;
    width: 100%;
}

.input img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.botoes{
    margin-top: 24px;
    display: flex;
    gap: 10px;
}

.botoes button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

#botao_cancelar{
    border: 2px solid #808080;
    background: none;
    transition: 0.3s;
}

#botao_cancelar:hover{
    border: none;
    background-color: #808080;
    color: white;
}

#botao_entrar{
    border: none;
    background-color: #1056A8;
    color: white;
    transition: 0.3s;
}

#botao_entrar:hover{
    background-color: white;
    border: 2px solid #1056A8;
    color: #1056A8;
}