header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 0% 2% 0%;
}

.logo {
    width: 200px;
}

.nav-list {
    display: flex;
    gap: 80px;
}

.nav-list a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
}

.nav-list a:hover {
    color: #105DDA;
}

.nav-botao{
    display: flex;
    gap: 20px;
}

.nav-botao button {
    background-color: #105DDA;
    color: #fff;
    border: none;
    padding: 6%;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 1rem;
    letter-spacing: 1.2px;
    border: 1px solid #105DDA;
    transition: 0.5s;
}

.nav-botao button:hover {
    background-color: #fff;
    color: #105DDA;
    border: 1px solid #105DDA;
}