header {
    display: flex;
    align-items: center;
    padding-left: 250px;
    gap: 200px;
}

img {
    width: 300px;
    height: 300px;
}

.nav-list {
    display: flex;
    gap: 130px;
    font-size: 20px;
    font-weight: bold;
}